.BlogPage{
 
    font-family: cursive;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
}
.BlogContainer {
    width: 100%;
    padding: 5px 40px;
    position: relative;
}

.BlogContainer >div{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;

}
.blogAddBtn{
    position: absolute;
    top: 10px;
    right: 100px;
   
}


.BlogContainer button{
    float:right
  /* position: relative;
  right: -500px;
    padding: 1px 10px; */
}

.BlogPage button{
    padding: 1px 10px;
}


.editForm{
    margin-top: 10px;
   
}

.editForm > div{
    display: flex;
    justify-content: space-between;
}

.editForm  .divInput{
    display: flex;
    flex-direction: column;
}

.editForm  .divInput textarea{
    padding: 5px;
}

.editForm >div label> span{
    font-size: 2.5vh;
}

.BlogForm{
    width: 95%;
}

.BlogForm form input{
    border: 1px solid black;
    
}

.BlogForm form input:focus{
    outline:none;
}

.BlogForm form input {
    margin: 3px 5px;
    width: 45vw;
    height:4vh ;
    padding: 1px 5px;
}

.jodit-react-container{
    color: black;
    width: 100% !important;
}




/* Showing all blog  */

.blogDiv{
    /* border: 1px solid black; */
    border-radius: 20px;
    /* padding: 10px ; */
    margin:20px 0px ;
    /* width:80%; */
    min-height: 28vmax;
    width: 22vmax;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.326);


}
.blogDiv:hover{

    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.blogDiv img{
    /* width: 20%; */
    border: none;
    
}

.blogDiv .blogContentContainer{
    /* width: 50%; */
    padding: 10px;
}



@media screen and (max-width:426px) {
    .BlogContainer {
        width:100%;
        padding: 5px 40px;
    }

    .blogDiv{
       
        height: 100%;
        width: 100%;
    
    }

    .blogPage{
        margin: 20px !important;
    }
}